Package: com.wrp1002.truedate
Name: TrueDate
Architecture: iphoneos-arm
Description: Change the time when the date will rollover!
Maintainer: Wes
Author: Wes
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.2)
Version: 1.0.4
Installed-Size: 15964
