Package: wrp1002
Name: truedate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Wes
Author: Wes
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-30+debug
Installed-Size: 316
